*,
*::before,
*::after {
    --azul-oscuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --gris-texto: #444444;
    --gris-claro: #ECECEC;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    position: relative;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

/* Cabecera */

.cabecera__container {
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 25px;
}

.logo__item {
    background-image: url(../img/cabecera/Logo.png);
    background-repeat: no-repeat;
    padding: 15px 65px;
    cursor: pointer;
}

.buscar__input {
    width: 350px;
    height: 40px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid rgb(211, 211, 211);
}

.buscar__label {
    background-image: url(../img/cabecera/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 19px;
    cursor: pointer;
}

.cabecera__audio {
    background-image: url(../img/cabecera/mic.png);
    padding: 20px;
}

.cabecera__videos {
    background-image: url(../img/cabecera/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.cabecera__apps {
    background-image: url(../img/cabecera/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecera__notificaciones {
    background-image: url(../img/cabecera/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecera__avatar {
    background-image: url(../img/cabecera/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
    margin-left: 20px;
}

/* MENU LATERAL */

.menu__container {
    background-color: var(--azul-oscuro);
    font-size: 14px;
    width: 239px;
    height: 100%;
    overflow-y: scroll;
    top: 80px;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.menu__lista {
    border-bottom: 1.5px solid var(--azul-medio);
    padding: 20px 17px 20px 15px;
}

.menu__itens:hover {
    background-color: var(--azul-medio);
    transition: .5s;
}

.videojuegos {
    order: 4;
}

.peliculas {
    order: 3;
}

.premium {
    order: 2;
}

.maspagina {
    order: 1;
}

.icono__inicio::before {
    content: url(../img/menu/home.png);
}

.icono__explorar::before {
    content: url(../img/menu/explore.png);
}

.icono__shorts::before {
    content: url(../img/menu/shorts.png);
}

.icono__suscripciones::before {
    content: url(../img/menu/subscriptions.png);
}

.icono__biblioteca::before {
    content: url(../img/menu/video_library.png);
}

.icono__historico::before {
    content: url(../img/menu/history.png);
}

.icono__reloj::before {
    content: url(../img/menu/history_toggle_off.png);
}

.icono__like::before {
    content: url(../img/menu/thumb_up_alt.png);
}

.icono__alura::before {
    content: url(../img/menu/Avatar_Alura.png);
}

.icono__gaveta::before {
    content: url(../img/menu/Avatar_Gaveta.png);
}

.icono__ballerini::before {
    content: url(../img/menu/Avatar_Rafa.png);
}

.icono__iamarino::before {
    content: url(../img/menu/Avatar_Atila.png);
}

.icono__souto::before {
    content: url(../img/menu/Avatar_Souto.png);
}

.icono__nerd::before {
    content: url(../img/menu/Avatar_Jovem_Nerd.png);
}

.icono__deschamps::before {
    content: url(../img/menu/Avatar_Deschamps.png);
}

.icono__mostrar::before {
    content: url(../img/menu/keyboard_arrow_down.png);
}

.icono__videos::before {
    content: url(../img/menu/videos.png);
}

.icono__peliculas::before {
    content: url(../img/menu/peliculas.png);
}

.icono__videojuegos::before {
    content: url(../img/menu/videojuegos.png);
}

/* SECCIÓN SUPERIOR */

.superior__seccion__container {
    height: 64px;
    color: white;
    font-size: 12px;
    background-color: var(--azul-claro);
    padding: 0 20px;
    position: fixed;
    top: 80px;
    right: 0;
    left: 239px;
    border-top: var(--azul-medio) 1px solid;
    border-bottom: var(--azul-medio) 1px solid;
}

.superior__item {
    color: var(--gris-texto);
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}


.superior__item:hover {
    color: white;
    background-color: var(--azul-oscuro);
    transition: .5s;
}

/* SECCIÓN VÍDEOS */

.videos__container {
    color: black;
    padding: 173px 20px 0 259px;
    margin-bottom: 268px;
}

.videos__item {
    width: 272px;
    height: 239px;
}


/* .videos__item:hover {
    transform: scale(1.1);
    background-color: var(--azul-claro);
    z-index: 2;
    transition: .5s;
} */


.detalles__video {
    text-align: left;

}

.detalles__video h3 {
    font-weight: 700;
    color: #444444;
    margin-bottom: 10px;
}

.detalles__video p {
    font-size: 14px;
    color: #444444;
}

/* Footer RODAPIÉ */

.rodapie__container {
    height: auto;
    color: var(--gris-texto);
    line-height: 1.5;
    font-size: 16px;
    background-color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 239px;
    text-align: left;
    white-space: nowrap;
}

.rodapie__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    padding: 10px 0 20px 0;
}

.rodapie__item {
    height: auto;
}


@media (max-width: 1546px) {

    .superior__seccion__container {
        overflow-x: scroll;
    }

}

@media (max-width: 1200px) {

    .videos__container {
        margin-bottom: 70px;
    }


    .rodapie__container {
        left: 0;
        font-size: 14px;
        padding: 20px 20px 20px 259px;
        position: relative;
    }

}

@media(max-width: 834px) {

    .cabecera__avatar {
        margin-left: 0;
    }

    .buscar__input {
        width: 210px;
    }

    .superior__seccion__container {
        left: 87px;
    }

    .menu__container {
        width: 87px;
        overflow: hidden;
    }

    .menu__lista {
        border-bottom: 0;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: none;
    }

    .videos__container {
        padding: 173px 40px 0 127px;
    }

    .rodapie__container {
        padding: 20px 40px 20px 127px;
    }

    .rodapie__item {
        height: auto;
    }

}

@media(max-width: 440px) {

    .menu__container{
        width: 100%;
        height: 87px;
        top: auto;
    }
    .menu__lista{
        padding: 20px;
    }

    .menu__itens span{
        font-size: 12px;
    }

    .superior__seccion__container{
        left: 0;
    }

    .videos__container{
        margin-bottom: 50px;
        padding: 173px 40px 0;
    }

    .rodapie__container{
        margin-bottom: 87px;
        padding: 20px 0 20px 60px;
    }

}