/* Cabecera */

.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera__buscar__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecera__buscar--elemnento {
    display: flex;
    align-items: center;
}

/* MENU LATERAL */

.menu__lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 17px 20px 15px;
}

.menu__lista:nth-child(9){
    order: 1;
}

.menu__itens {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* SECCIÓN SUPERIOR */

.superior__seccion__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* propiedad para que el texto no se quiebre */
    gap: 10px;
}

.videos__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}

.videos__item {
    flex-grow: 1;
}

.descripcion-video {
    margin-top: 1rem;
    display: flex;
    align-items: start;  
}

.descripcion-video img {
    margin-right: 1rem; 
    flex-shrink: 0;  /*  Evita que la imagen se reduzca */
}

/* Footer RODAPIÉ */

.rodapie__container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 834px) {


}

@media (max-width: 600px) {

    


}